
@{
    ViewBag.Title = "Calculer";
}

<h2>Page pour calculer +/-</h2>

<div class="row">
    <div class="col-md-6">
        <h2>Ajouter</h2>
        <input placeholder="Valeur 1"/>
        <input  placeholder="Valeur 2"/>
        <p><a class="btn btn-default" href="#">+</a></p>
    </div>
    <div class="col-md-6">
        <h2>Soustraire</h2>
        <input  placeholder="Valeur 1"/>
        <input  placeholder="Valeur 2"/>
        <p><a class="btn btn-default" href="#">-</a></p>
    </div>
</div>
