@{
    ViewBag.Title = "A propos..";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Cette application web faite avec ASP.NET en MVC est juste un entraîment pour comprendre et m'améliorer sur ses technologies.</p>
