@{
    ViewBag.Title = "Bienvenu sur ma première application ASP.NEt";
}


<div class="jumbotron">
    <h1> Hello <span style="color:red">@ViewBag.Nom</span></h1>
    <p class="lead">Rajoute un paramètre à l'url après index (ex : '.../Home/Index/exemple') pour changer le mot en rouge !</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mon github</h2>
        <p>
            On y trouve tous mes projets perso et tutos. Jettes y un coup d'oeil ça vut le coup! Oublie pas de me follow et de mettre une star sur les projets qui t'ont intéressés.
        </p>
        <p><a class="btn btn-default" href="https://github.com/BayeuxRemy">Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mon portfolio</h2>
        <p>Si tu veux en apprendre plus sur moi, mes formations et experiences dans le domaine du développement informatique; n'hésite pas à y faire un tour.</p>
        <p><a class="btn btn-default" href="https://sites.google.com/view/bayeux-remy-portfolio/accueil">En apprend plus sur moi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Et un dernier pour le fun</h2>
        <p>Lorem ipsum et tout le tralalaalalalala</p>
        <p><a class="btn btn-default" href="#">Button useless &raquo;</a></p>
    </div>
</div>
